@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

/* GENERAL RULES */



body{
    background-color: black;
    color:#FFFFFF;
    font-family: 'Inter';
    

}

button{
    width:214px;
    height: 55px;
    border-radius: 25px;
    margin-top: 44px;
    font-size: 33px;
    color: black;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: none;
    
    
}

button:hover{
    cursor: pointer;
    background: #b9a9f7;
}

/* HEADER SECTION */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
} 


header img{
    width: 165px;
    height: auto;
    
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    color: white;
    cursor: pointer;
    
    
}

nav ul{
    padding-left: 0;
    
}



nav li:hover{
    color: rgb(190, 187, 187);
}

nav a{
    text-decoration: none;
}

/* MAIN SECTION */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    font-size: 54px;
    font-weight: 700;
}

main h2{
    font-size: 29px;
    font-weight: 400;
}





@media only screen and (max-width:600px){
    main h2{
        font-size: 23px;
    }
    
    
}

/* FORM SECTION */

form{
    width: 100%;
    
}

.formCta{
    
    margin-top: 19px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formCta label{
    width: 70%;
    font-size: 33px;
    font-size: 400;
    padding-left: 15%;
    
    align-self: flex-start;
}

.formCta input{
    width: 70%;
    height: 53px;
    border-radius: 25px;
    background-color: #7F7F7F;
    border: none;
    margin-top: 20px;
    align-self: center;
    
}

@media only screen and (max-width:600px){
    .formCta input{
        width: 90%;
    }

    .formCta label{
        padding-left: 5%;
    }
}


/* FOOTER SECTION */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 27px;
}
footer h2{
    width: 95%;
    text-align: center;
    font-weight: 400;
}

footer button{
    width: 366px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){
    
    footer button{
        width: 340px;
    }
}